
body{
    background-color: wheat;
}
p{
    color: brown;
    text-align: center;
    line-height: 30px;
}
h1{
    text-align: center;
    color: #000;
    font-family: Georgia;
    text-decoration: underline;
}
h2,h3,h4,h5,h6{
    text-align: center;
}
a{
    color: green;
    text-decoration: none;
}
button{
    background-color: white;
    text-decoration-color: blueviolet;

}
textarea{
    color: #000;
}